In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("LerDeltaFile") \
    .config("spark.jars", "/path/to/jars/delta-core_2.12-3.0.0.jar") \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/10/30 06:39:28 WARN Utils: Your hostname, LAPTOP-NDHI6BI3 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/10/30 06:39:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/10/30 06:39:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/30 06:39:29 WARN DependencyUtils: Local jar /path/to/jars/delta-core_2.12-3.0.0.jar does not exist, skipping.
24/10/30 06:39:29 INFO SparkContext: Running Spark version 3.5.1
24/10/30 06:39:29 INFO SparkContext: OS info Linux, 5.15.153.1-microsoft-standard-WSL2, amd64
24/10/30 06:39:29 INFO SparkContext: Java version 11.0.24
24/10/30 06:39:29 INFO ResourceUtils: ==============================================================
24/10/30 06:39:29 INFO ResourceUtils: No custom resources configured for spark.driver.
24/10/30 06:39:29 INFO ResourceUtils: ==============================================================
24/10/30 06:39:29 INFO SparkContext: Submitted application: LerDeltaFile
24/10/30 06:39:29 INFO ResourceProfile: Default ResourceProfile created, executor resources: Map(cores -> name: cores, amount: 1, script: , vendor: , memory -> name: memory, amount: 1024, script: , vendor: , offHeap -> name: offHeap, amount: 0, script: , vendor: ), task resources: Map(cpus -> name: cpus, amount: 1.0)
24/10/30 06:39:29 INFO ResourceProfile: Limiting resource is cpu
24/10/30 06:39:29 INFO ResourceProfileManager: Added ResourceProfile id: 0
24/10/30 06:39:29 INFO SecurityManager: Changing view acls to: jamilsonfs
24/10/30 06:39:29 INFO SecurityManager: Changing modify acls to: jamilsonfs
24/10/30 06:39:29 INFO SecurityManager: Changing view acls groups to:
24/10/30 06:39:29 INFO SecurityManager: Changing modify acls groups to:
24/10/30 06:39:29 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users with view permissions: jamilsonfs; groups with view permissions: EMPTY; users with modify permissions: jamilsonfs; groups with modify permissions: EMPTY
24/10/30 06:39:30 INFO Utils: Successfully started service 'sparkDriver' on port 46165.
24/10/30 06:39:30 INFO SparkEnv: Registering MapOutputTracker
24/10/30 06:39:30 INFO SparkEnv: Registering BlockManagerMaster
24/10/30 06:39:30 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
24/10/30 06:39:30 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
24/10/30 06:39:30 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
24/10/30 06:39:30 INFO DiskBlockManager: Created local directory at /tmp/blockmgr-fc197936-46df-4bbb-b0ec-d87804e54cdb
24/10/30 06:39:30 INFO MemoryStore: MemoryStore started with capacity 434.4 MiB
24/10/30 06:39:30 INFO SparkEnv: Registering OutputCommitCoordinator
24/10/30 06:39:30 INFO JettyUtils: Start Jetty 0.0.0.0:4040 for SparkUI
24/10/30 06:39:30 INFO Utils: Successfully started service 'SparkUI' on port 4040.
24/10/30 06:39:30 ERROR SparkContext: Failed to add /path/to/jars/delta-core_2.12-3.0.0.jar to Spark environment
java.io.FileNotFoundException: Jar /path/to/jars/delta-core_2.12-3.0.0.jar not found
	at org.apache.spark.SparkContext.addLocalJarFile$1(SparkContext.scala:2100)
	at org.apache.spark.SparkContext.addJar(SparkContext.scala:2156)
	at org.apache.spark.SparkContext.$anonfun$new$15(SparkContext.scala:526)
	at org.apache.spark.SparkContext.$anonfun$new$15$adapted(SparkContext.scala:526)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:526)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
24/10/30 06:39:31 INFO Executor: Starting executor ID driver on host 10.255.255.254
24/10/30 06:39:31 INFO Executor: OS info Linux, 5.15.153.1-microsoft-standard-WSL2, amd64
24/10/30 06:39:31 INFO Executor: Java version 11.0.24
24/10/30 06:39:31 INFO Executor: Starting executor with user classpath (userClassPathFirst = false): ''
24/10/30 06:39:31 INFO Executor: Created or updated repl class loader org.apache.spark.util.MutableURLClassLoader@652bbc4c for default.
24/10/30 06:39:31 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 36755.
24/10/30 06:39:31 INFO NettyBlockTransferService: Server created on 10.255.255.254:36755
24/10/30 06:39:31 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
24/10/30 06:39:31 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, 10.255.255.254, 36755, None)
24/10/30 06:39:31 INFO BlockManagerMasterEndpoint: Registering block manager 10.255.255.254:36755 with 434.4 MiB RAM, BlockManagerId(driver, 10.255.255.254, 36755, None)
24/10/30 06:39:31 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, 10.255.255.254, 36755, None)
24/10/30 06:39:31 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, 10.255.255.254, 36755, None)

In [3]:
import pyarrow.parquet as pq
import os

directory = "/home/jamilsonfs/airflow/dags/SIA/tmp/DELTA/ACFPB2101.delta"

parquet_files = [os.path.join(directory, f) for f in os.listdir(directory) if f.endswith('.parquet')]

dataset = pq.ParquetDataset(parquet_files)
table = dataset.read()


df = table.to_pandas()
display(df)

,ACF_ARTDIA,ACF_DUPLEX,ACF_FLEBIT,ACF_FREMIT,ACF_HEMATO,ACF_PREFAV,ACF_PULSO,ACF_USOCAT,ACF_VEIAVI,ACF_VEIDIA,...,AP_RACACOR,AP_SEXO,AP_TPAPAC,AP_TPUPS,AP_TRANSF,AP_UFDIF,AP_UFMUN,AP_UFNACIO,AP_UNISOL,AP_VL_AP
0,3,S,S,3,S,S,S,S,S,3,...,Branca,Masculino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,251080,010,2605473,600.0
1,3,S,S,3,S,S,S,S,S,3,...,Branca,Masculino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,251080,010,2605473,600.0
2,3,S,S,3,S,S,S,S,S,3,...,Branca,Masculino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,251080,010,2605473,600.0
3,3,S,S,3,S,S,S,S,S,3,...,Branca,Masculino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,251080,010,2605473,600.0
4,3,S,S,3,S,S,S,S,S,3,...,Branca,Masculino,Unica,36,NÃ£o,Mesmo UF do estabelecimento,250370,010,7939906,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2,N,N,2,N,N,N,N,N,2,...,Amarela,Masculino,Unica,36,NÃ£o,Mesmo UF do estabelecimento,250750,010,2341417,600.0
58,0001,N,N,1,N,N,S,N,N,0001,...,Amarela,Feminino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,250750,010,0000000,600.0
59,0001,N,N,1,N,N,S,N,N,0001,...,Amarela,Masculino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,250750,010,0000000,600.0
60,0001,N,N,1,N,N,S,N,N,0001,...,Amarela,Masculino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,250750,010,0000000,600.0
61,0001,N,N,1,N,N,S,N,N,0001,...,Amarela,Feminino,Unica,05,NÃ£o,Mesmo UF do estabelecimento,250750,010,0000000,600.0

In [4]:
df.columns

Index(['ACF_ARTDIA', 'ACF_DUPLEX', 'ACF_FLEBIT', 'ACF_FREMIT', 'ACF_HEMATO',
       'ACF_PREFAV', 'ACF_PULSO', 'ACF_USOCAT', 'ACF_VEIAVI', 'ACF_VEIDIA',
       'AP_ALTA', 'AP_APACANT', 'AP_AUTORIZ', 'AP_CATEND', 'AP_CEPPCN',
       'AP_CIDCAS', 'AP_CIDPRI', 'AP_CIDSEC', 'AP_CMP', 'AP_CNPJCPF',
       'AP_CNPJMNT', 'AP_CODEMI', 'AP_CODUNI', 'AP_COIDADE', 'AP_CONDIC',
       'AP_DTAUT', 'AP_DTFIM', 'AP_DTINIC', 'AP_DTOCOR', 'AP_DTSOLIC',
       'AP_ENCERR', 'AP_GESTAO', 'AP_MN_IND', 'AP_MOTSAI', 'AP_MUNPCN',
       'AP_NATJUR', 'AP_NUIDADE', 'AP_OBITO', 'AP_PERMAN', 'AP_PRIPAL',
       'AP_RACACOR', 'AP_SEXO', 'AP_TPAPAC', 'AP_TPUPS', 'AP_TRANSF',
       'AP_UFDIF', 'AP_UFMUN', 'AP_UFNACIO', 'AP_UNISOL', 'AP_VL_AP'],
      dtype='object')

In [13]:
df.columns

Index(['UF_ZI', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT', 'CEP', 'MUNIC_RES',
       'NASC', 'SEXO', 'UTI_MES_TO', 'MARCA_UTI', 'UTI_INT_TO', 'DIAR_ACOM',
       'QT_DIARIAS', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT',
       'VAL_UTI', 'US_TOT', 'DT_INTER', 'DT_SAIDA', 'DIAG_PRINC', 'COBRANCA',
       'NAT_JUR', 'GESTAO', 'IND_VDRL', 'MUNIC_MOV', 'COD_IDADE', 'IDADE',
       'DIAS_PERM', 'MORTE', 'NACIONAL', 'CAR_INT', 'HOMONIMO', 'NUM_FILHOS',
       'INSTRU', 'CID_NOTIF', 'CONTRACEP1', 'CONTRACEP2', 'GESTRISCO',
       'INSC_PN', 'SEQ_AIH5', 'CBOR', 'CNAER', 'VINCPREV', 'GESTOR_COD',
       'GESTOR_TP', 'GESTOR_CPF', 'CNES', 'CNPJ_MANT', 'COMPLEX', 'FINANC',
       'FAEC_TP', 'REGCT', 'RACA_COR', 'ETNIA', 'SEQUENCIA', 'REMESSA',
       'AUD_JUST', 'SIS_JUST', 'VAL_SH_FED', 'VAL_SP_FED', 'VAL_UCI',
       'MARCA_UCI', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5',
       'DIAGSEC6', 'DIAGSEC7', 'TPDISEC1', 'TPDISEC2', 'TPDISEC3', 'TPDISEC4',
       'TPDISEC5', 'TPDISEC6', 'TPDISEC7'],
      dtype='object')

## **Analise Parquet Result**

In [5]:
import pandas as pd

df= pd.read_parquet("/home/jamilsonfs/airflow/dags/SIA/tmp/PARQUET/ACFRJ2006.parquet")
df

,Condicao de pagamento,AP_GESTAO,Codigo CNES,AP_AUTORIZ,Data de atendimento,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,AP_MN_IND,...,ACF_USOCAT,ACF_PREFAV,ACF_FLEBIT,ACF_HEMATO,ACF_VEIAVI,ACF_PULSO,ACF_VEIDIA,ACF_ARTDIA,ACF_FREMIT,AP_NATJUR
0,Pago,330020,6295843,3320200766685,202006,0418010030,600.00,330020,36,I,...,S,S,N,N,S,S,0,0,3,2062
1,Pago,330045,2293854,3320200757346,202006,0418010030,600.00,330045,36,I,...,N,N,N,N,S,S,4,8,1,2062
2,Pago,330170,2277476,3320200765850,202006,0418010030,600.00,330170,36,I,...,N,S,N,N,N,N,1,1,1,2313
3,Pago,330170,2277468,3320200736919,202006,0418010030,600.00,330170,36,I,...,N,N,N,N,S,S,0,0,2,2062
4,Pago,330170,2277468,3320200741528,202006,0418010030,600.00,330170,36,I,...,N,N,N,N,S,S,0,0,2,2062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Pago,330470,2275260,3320200729131,202006,0418010030,600.00,330470,36,I,...,S,N,S,N,N,N,0002,0002,3,2062
146,Pago,330455,5177847,3320200763781,202006,0418010030,600.00,330455,36,I,...,S,S,N,N,S,S,0,0,3,2062
147,Pago,330490,2292114,3320200766641,202006,0418010030,600.00,330490,36,I,...,S,N,N,N,N,S,0003,0003,4,2240
148,Pago,330610,2293056,3320200750394,202006,0418010030,600.00,330610,36,I,...,S,S,N,N,S,S,4,4,3,2062
149,Pago,330610,2293056,3320200741517,202006,0418010030,600.00,330610,36,I,...,N,S,N,N,S,S,6,4,3,2062

In [9]:
#df.columns


#df["AP_CIDCAS"]
df["AP_CIDPRI"]
#df["AP_CIDSEC"]

0      0000
1      0000
2      0000
3      0000
4      0000
       ...
145    0000
146    0000
147    0000
148    0000
149    0000
Name: AP_CIDPRI, Length: 150, dtype: object

In [21]:
df[['DT_INTER', 'DT_SAIDA']]

        DT_INTER  DT_SAIDA
0       20210123  20210128
1       20210125  20210128
2       20210125  20210126
3       20210121  20210121
4       20210127  20210131
...          ...       ...
195973  20210109  20210110
195974  20201213  20210114
195975  20201213  20210103
195976  20201201  20201221
195977  20201223  20201224

[195978 rows x 2 columns]

In [23]:
df['ano_inter'] = df['DT_INTER'].astype(str).str[:4]
df['ano_saida'] = df['DT_SAIDA'].astype(str).str[:4]

anos_comb = pd.concat([df['ano_inter'], df['ano_saida']])

contagem_anos = anos_comb.value_counts()

print(contagem_anos)

2021    259917
2020    129063
2008      1115
2019       489
2018       244
2014       188
2013       173
2010       139
2017       135
2012       121
2016       116
2015       115
2011        84
2009        57
Name: count, dtype: int64

In [24]:
df_2009 = df[df['ano_inter'] == '2009']

resultado = df_2009[['DT_INTER', 'DT_SAIDA']]

print(resultado)

        DT_INTER  DT_SAIDA
11      20090415  20210131
12      20090502  20210131
42      20090124  20210131
55981   20090116  20210131
55982   20090301  20210131
55983   20091001  20210131
56261   20090619  20210131
56262   20090909  20210131
56419   20090325  20210131
66151   20091002  20210131
66152   20091101  20210131
66153   20091219  20210131
66154   20091228  20210131
66297   20090715  20210131
66298   20090801  20210131
66299   20090801  20210131
66300   20090928  20210131
66301   20090928  20210131
66302   20091019  20210131
66303   20091015  20210131
66316   20090201  20210131
66317   20090201  20210131
66318   20090220  20210131
66319   20090409  20210131
66320   20090418  20210131
66321   20090606  20210131
66322   20090617  20210131
66466   20090101  20210131
66467   20090101  20210131
66468   20090101  20210131
72776   20090929  20210131
98428   20090717  20210131
98429   20090828  20210131
100334  20090408  20210131
100335  20091116  20210131
100336  20091116  20210131
100337  20091116  20210131
100338  20091116  20210131
110341  20090701  20210131
112970  20091116  20210131
112971  20091116  20210131
112972  20091117  20210131
112973  20091117  20210131
112974  20091117  20210131
112975  20091117  20210131
113427  20090301  20210131
113451  20090911  20210131
149681  20090316  20210131
168090  20090916  20210131
168091  20091120  20210131
168092  20091101  20210131
168093  20091119  20210131
168107  20090128  20210131
168108  20090401  20210131
168109  20090805  20210131
168110  20090901  20210131
171287  20090911  20210131

# **Idade das Pessoas que se Internaram em 2009**

In [25]:
df['ano_nasc'] = df['NASC'].astype(str).str[:4]


df['ano_inter'] = df['DT_INTER'].astype(str).str[:4]


df_2009 = df[df['ano_inter'] == '2009']

resultado = df_2009[['ano_nasc', 'DT_INTER']]

print(resultado)

       ano_nasc  DT_INTER
11         1983  20090415
12         1992  20090502
42         1993  20090124
55981      1990  20090116
55982      1990  20090301
55983      2004  20091001
56261      1979  20090619
56262      1987  20090909
56419      1978  20090325
66151      1979  20091002
66152      1962  20091101
66153      1954  20091219
66154      1988  20091228
66297      1988  20090715
66298      1961  20090801
66299      1982  20090801
66300      1995  20090928
66301      1996  20090928
66302      1998  20091019
66303      1972  20091015
66316      1972  20090201
66317      1963  20090201
66318      1963  20090220
66319      1967  20090409
66320      1990  20090418
66321      1971  20090606
66322      1957  20090617
66466      1962  20090101
66467      1982  20090101
66468      1974  20090101
72776      2006  20090929
98428      1979  20090717
98429      1964  20090828
100334     1976  20090408
100335     1991  20091116
100336     1977  20091116
100337     1980  20091116
100338     1984  20091116
110341     1987  20090701
112970     1973  20091116
112971     1983  20091116
112972     1978  20091117
112973     1972  20091117
112974     1977  20091117
112975     1983  20091117
113427     1987  20090301
113451     1950  20090911
149681     2001  20090316
168090     2002  20090916
168091     1994  20091120
168092     1986  20091101
168093     1990  20091119
168107     1982  20090128
168108     2008  20090401
168109     2007  20090805
168110     2008  20090901
171287     1992  20090911

# **ImplementaÃ§Ã£o**

In [28]:
def drop_anos_diferentes(df):
    df['ano_inter'] = df['DT_INTER'].astype(str).str[:4]
    
    df_filtrado = df[df['ano_inter'].isin(['2020', '2021'])]
    
    return df_filtrado


df_filtrado = drop_anos_diferentes(df)
df_filtrado

,UF_ZI,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,SEXO,UTI_MES_TO,...,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,ano_inter,ano_saida,ano_nasc
0,350000,03,72547623000190,3521100320298,1,17602844,355500,19821111,3,0,...,1,0,0,0,0,0,0,2021,2021,1982
1,350000,03,72547623000190,3521100320331,1,17740000,354380,20210124,3,0,...,1,0,0,0,0,0,0,2021,2021,2021
2,350000,03,72547623000190,3521100320397,1,17600900,355500,19981217,3,0,...,1,0,0,0,0,0,0,2021,2021,1998
3,350000,03,72547623000190,3521100320408,1,17602081,355500,19711121,3,0,...,1,0,0,0,0,0,0,2021,2021,1971
4,350000,03,73027690000146,3521100317460,1,18970003,355720,19571127,1,0,...,0,0,0,0,0,0,0,2021,2021,1957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195973,354640,01,56813926000150,3521107991720,1,18915644,354640,19780331,1,0,...,1,0,0,0,0,0,0,2021,2021,1978
195974,354640,03,56813926000150,3520127977685,1,18910160,354640,19540418,3,25,...,0,0,0,0,0,0,0,2020,2021,1954
195975,354640,03,56813926000150,3520127977718,1,18910160,354640,19590118,3,6,...,0,0,0,0,0,0,0,2020,2021,1959
195976,354640,03,56813926000150,3520127977971,1,18940000,355050,19390512,3,0,...,0,0,0,0,0,0,0,2020,2020,1939
195977,354640,03,56813926000150,3520127978170,1,85908060,412770,19770328,1,0,...,0,0,0,0,0,0,0,2020,2020,1977

In [30]:
df_filtrado['ano_inter'] = df_filtrado['DT_INTER'].astype(str).str[:4]
df_filtrado['ano_saida'] = df_filtrado['DT_SAIDA'].astype(str).str[:4]

anos_comb_filtrados = pd.concat([df_filtrado['ano_inter'], df_filtrado['ano_saida']])

contagem_anos_filtrados = anos_comb_filtrados.value_counts()

display(contagem_anos_filtrados)

/tmp/ipykernel_969/3710971639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['ano_inter'] = df_filtrado['DT_INTER'].astype(str).str[:4]
/tmp/ipykernel_969/3710971639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['ano_saida'] = df_filtrado['DT_SAIDA'].astype(str).str[:4]

2021    256984
2020    129020
Name: count, dtype: int64