In [4]:
import pandas as pd

df = pd.read_parquet('/home/jamilsonfs/airflow/dags/SIH/tmp/PARQUET/RDSP2101.parquet')
df

,UF_ZI,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,SEXO,UTI_MES_TO,...,DIAGSEC5,DIAGSEC6,DIAGSEC7,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7
0,352590,01,50944198000130,3521106512968,1,13232295,350960,19960707,1,0,...,,,,1,0,0,0,0,0,0
1,352590,01,50944198000130,3521106512979,1,13238412,350960,19670430,1,1,...,,,,1,0,0,0,0,0,0
2,352590,01,50944198000130,3521106512980,1,13210057,352590,19501222,3,0,...,,,,1,0,0,0,0,0,0
3,352590,01,50944198000130,3521106512990,1,13238241,350960,19650324,3,0,...,,,,1,0,0,0,0,0,0
4,352590,01,50944198000130,3521106513001,1,13216450,352590,20080327,3,0,...,,,,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376685,350000,03,46374500013415,3521107282737,1,06785520,355280,20070620,1,0,...,,,,0,0,0,0,0,0,0
2376686,350000,03,46374500013415,3521107282946,1,06846190,351500,19520508,3,0,...,,,,0,0,0,0,0,0,0
2376687,350000,03,46374500013415,3521107282979,1,06753001,355280,19480608,3,0,...,,,,1,0,0,0,0,0,0
2376688,350000,03,46374500013415,3521107283056,1,06602370,352500,19551030,1,0,...,,,,1,0,0,0,0,0,0
2376689,350000,07,46374500013415,3521107277347,1,06786200,355280,20210309,3,0,...,,,,1,0,0,0,0,0,0

In [3]:
import pandas as pd

df = pd.read_parquet('/home/jamilsonfs/airflow/RDRJ2101.parquet/RDRJ2101.parquet')
df

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,330350,2021,01,03,29138278003208,3321102649931,1,26033157,330350,19440309,...,,0,0,0,0,0,0,0,0,0
1,330350,2021,01,03,29138278003208,3321102919288,1,26285130,330350,19780305,...,,0,0,0,0,0,0,0,0,0
2,330350,2021,01,03,29138278003208,3321102919409,1,26043180,330350,20020701,...,,0,0,0,0,0,0,0,0,0
3,330350,2021,01,03,29138278003208,3321102919464,1,26281080,330350,19920224,...,,0,0,0,0,0,0,0,0,0
4,330350,2021,01,03,29138278003208,3321102919574,1,26021680,330350,19821118,...,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58253,330350,2021,01,03,29138278003208,3321102919860,1,26061050,330350,19810611,...,,0,0,0,0,0,0,0,0,0
58254,330350,2021,01,03,29138278003208,3321102919882,1,26041630,330350,19791216,...,,0,0,0,0,0,0,0,0,0
58255,330350,2021,01,03,29138278003208,3321102919904,1,26041630,330350,19791216,...,,0,0,0,0,0,0,0,0,0
58256,330350,2021,01,03,29138278003208,3321102649910,1,26263250,330350,19990223,...,,0,0,0,0,0,0,0,0,0
58257,330350,2021,01,03,29138278003208,3321102649920,1,26120120,330045,19650824,...,,0,0,0,0,0,0,0,0,0

In [3]:
import pandas as pd

df = pd.read_parquet('/home/jamilsonfs/airflow/dags/SIM/tmp/PB_2020')
df

,Tipo de Ã“bito,Data do Ã“bito,Hora do Ã“bito,Naturalidade,Data de Nascimento,Idade,Sexo,RaÃ§a/Cor,Estado Civil,Escolaridade,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,NÃ£o Fetal,26032020,2240,825,17011926,94 anos,Homem,Parda,ViÃºvo,Nenhuma,...,,,,,,,,,,
1,NÃ£o Fetal,25032020,2240,825,09091962,57 anos,Homem,Parda,Solteiro,1 a 3 anos,...,,,,,,,,,,
2,NÃ£o Fetal,21032020,0342,826,22061943,76 anos,Mulher,Parda,Solteiro,Nenhuma,...,,,,,,,,,,
3,NÃ£o Fetal,21032020,0355,825,09061944,75 anos,Mulher,Parda,Casado,1 a 3 anos,...,,,,,,,,,,
4,NÃ£o Fetal,21032020,1355,825,28081938,81 anos,Homem,Parda,Casado,1 a 3 anos,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31102,NÃ£o Fetal,03102020,0100,825,21081936,84 anos,Mulher,Parda,ViÃºvo,8 a 11 anos,...,,,,,,,,,,
31103,NÃ£o Fetal,05102020,1420,826,27091945,75 anos,Mulher,Parda,Solteiro,1 a 3 anos,...,,,,,,,,,,
31104,NÃ£o Fetal,08102020,0310,825,23061953,67 anos,Homem,Parda,Casado,1 a 3 anos,...,,,,,,,,,,
31105,NÃ£o Fetal,25042020,2252,825,17121977,42 anos,Mulher,Parda,Solteiro,4 a 7 anos,...,,,,,,,,,,
31106,NÃ£o Fetal,14102020,1509,825,02031951,69 anos,Mulher,,,,...,,,,,,,,,,

In [6]:
import pandas as pd

df = pd.read_parquet('/home/jamilsonfs/airflow/dags/SIM/tmp/SP_2018')
df

,Tipo de Ã“bito,Data do Ã“bito,Hora do Ã“bito,Naturalidade,Data de Nascimento,Idade,Sexo,RaÃ§a/Cor,Estado Civil,Escolaridade,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,NÃ£o Fetal,30042018,1150,835,12091945,72 anos,Mulher,Branca,Casado,12 a mais,...,,,,,,,,,,
1,NÃ£o Fetal,03052018,0945,835,08101953,64 anos,Homem,Parda,Casado,4 a 7 anos,...,,,,,,,,,,
2,NÃ£o Fetal,09042018,0026,841,15111963,54 anos,Homem,Parda,Casado,Ignorado,...,,,,,,,,,,
3,NÃ£o Fetal,09042018,0340,109,19031971,47 anos,Homem,Preta,Solteiro,Ignorado,...,,,,,,,,,,
4,NÃ£o Fetal,09042018,0335,825,08121922,95 anos,Mulher,Branca,ViÃºvo,Ignorado,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298308,NÃ£o Fetal,31122018,1435,835,16071945,73 anos,Homem,Branca,ViÃºvo,8 a 11 anos,...,,,,,,,,,,
298309,NÃ£o Fetal,15122018,1010,835,05031959,59 anos,Homem,Branca,Casado,8 a 11 anos,...,,,,,,,,,,
298310,NÃ£o Fetal,08092018,1230,835,19031945,73 anos,Homem,Branca,Casado,4 a 7 anos,...,,,,,,,,,,
298311,NÃ£o Fetal,10032018,1405,835,18091974,43 anos,Mulher,Parda,Solteiro,Ignorado,...,,,,,,,,,,
298312,NÃ£o Fetal,26122018,2130,835,07101985,33 anos,Homem,Parda,Solteiro,8 a 11 anos,...,,,,,,,,,,

In [8]:
import pandas as pd

df = pd.read_parquet('/home/jamilsonfs/airflow/dags/SIM/tmp/SP_2018')
df

,Tipo de Ã“bito,Data do Ã“bito,Hora do Ã“bito,Naturalidade,Data de Nascimento,Idade,Sexo,RaÃ§a/Cor,Estado Civil,Escolaridade,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,NÃ£o Fetal,30042018,1150,835,12091945,72 anos,Mulher,Branca,Casado,12 a mais,...,,,,,,,,,,
1,NÃ£o Fetal,03052018,0945,835,08101953,64 anos,Homem,Parda,Casado,4 a 7 anos,...,,,,,,,,,,
2,NÃ£o Fetal,09042018,0026,841,15111963,54 anos,Homem,Parda,Casado,Ignorado,...,,,,,,,,,,
3,NÃ£o Fetal,09042018,0340,109,19031971,47 anos,Homem,Preta,Solteiro,Ignorado,...,,,,,,,,,,
4,NÃ£o Fetal,09042018,0335,825,08121922,95 anos,Mulher,Branca,ViÃºvo,Ignorado,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298308,NÃ£o Fetal,31122018,1435,835,16071945,73 anos,Homem,Branca,ViÃºvo,8 a 11 anos,...,,,,,,,,,,
298309,NÃ£o Fetal,15122018,1010,835,05031959,59 anos,Homem,Branca,Casado,8 a 11 anos,...,,,,,,,,,,
298310,NÃ£o Fetal,08092018,1230,835,19031945,73 anos,Homem,Branca,Casado,4 a 7 anos,...,,,,,,,,,,
298311,NÃ£o Fetal,10032018,1405,835,18091974,43 anos,Mulher,Parda,Solteiro,Ignorado,...,,,,,,,,,,
298312,NÃ£o Fetal,26122018,2130,835,07101985,33 anos,Homem,Parda,Solteiro,8 a 11 anos,...,,,,,,,,,,

In [7]:
import pandas as pd

df = pd.read_parquet("/home/jamilsonfs/airflow/dags/SIM/tmp/PARQUET/SP_2018")
df

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,12022018,1000,835,355030,06021976,442,1,1,...,,,,,,,,,,641872
1,1,2,12022018,1445,831,310200,29071932,485,2,1,...,,,,,,,,,,641873
2,1,2,13022018,2310,829,293330,23021953,464,2,2,...,,,,,,,,,,641874
3,1,2,15022018,2145,829,290870,25081960,457,2,4,...,,,,,,,,,,641875
4,1,2,16022018,1548,835,355030,06032003,414,2,1,...,,,,,,,,,,641876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298308,1,2,05092018,2140,831,312780,12031975,443,1,1,...,,,,,,,,,,933234
298309,1,2,06092018,0417,835,350160,20041967,451,1,1,...,,,,,,,,,,933235
298310,1,2,08092018,1040,835,354050,18071934,484,1,1,...,,,,,,,,,,933236
298311,1,2,13092018,0036,835,351370,04101956,461,1,1,...,,,,,,,,,,933237
298312,1,2,15092018,2022,835,350160,14092018,201,1,1,...,SXSXXX,,,,09012019,3,09012019,,2,933238